---
templates:
  conduit:
    Gateways:
    - orchid

hosts:
  orchid:
    Hostname: orchid.flowercluster.io
    User: djanatyn
    Port: 8888

  lotus:
    Inherits: conduit
    Hostname: lotus.flowercluster.io
    User: djanatyn

  defaults:
    Port: 22
    ControlMaster: auto
    ControlPath: /tmp/.ssh/cm/%h-%p-%r.sock
    ControlPersist: yes
